<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Permission manager</title>
    <link href="{{routePrefix}}/assets/bootstrap.min.css" rel="stylesheet">
    <link href="{{routePrefix}}/assets/tether.min.css" rel="stylesheet">
    <link href="{{routePrefix}}/assets/app.css" rel="stylesheet">
    <script src="{{routePrefix}}/assets/vue.min.js"></script>
    <script src="{{routePrefix}}/assets/jquery.min.js"></script>
</head>
<body>
    <main role="main" class="container">
        {{pageBody}}
    </main>
    <script src="{{routePrefix}}/assets/tether.min.js"></script>
    <script src="{{routePrefix}}/assets/bootstrap.min.js"></script>
</body>
</html>