html {
    font-size: 10pt;
}
button {
    cursor: pointer
}

.background-dark {
    background-color: #808080 !important;
}
button[disabled] {
    opacity: 0.5 !important;
}
.btn-primary {
    color: #FFF !important;
    background-color: #333 !important;
    border-color: #333 !important;
}
